[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print. Yoorie version!
rename_existing: CANCEL_PRINT_BASE
gcode:
    RESPOND type=error MSG='Print canceled'
    {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
    {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}
    SDCARD_RESET_FILE
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE
    #Present print
    G1 Z{printer.toolhead.position.z + 10} F600
    G90 ;absolute positioning
    G1 X{X_MAX / 2} Y{Y_MAX} F6000
    #Disable Steppers        
    M84
    _cancel_tones

[gcode_macro _start_print]
variable_bed_mesh: False
gcode:
  {% set mc = printer["gcode_macro _macro_globals"] %}
  
  {% set wipe_point_x = mc.wipe_point_x|default(2)|float %}
  {% set wipe_point_y = mc.wipe_point_y|default(2)|float %}  
  {% set wipe_point_initial_z = mc.wipe_point_initial_z|default(20)|float %}  
  

  {% set bed_temp = params.BED|default(63)|float %}
  {% set extruder_temp = params.EXTRUDER|default(205)|float %}  
  {% set mesh_profile = params.MESH|default('default')|string %}
  {% set z_offset = params.Z_OFFSET|default(0.0)|float %}
  # pre-heat nozzle and bed
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bed_temp}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={extruder_temp}

  G90 # Use absolute coordinates       
  G92 E0 # Zero the extruded length
  SET_GCODE_OFFSET Z={z_offset} # Reset the G-Code Z offset (adjust Z offset if needed)
  G28 # Home the printer


  # Load bed mesh profile  
  {% if 'bed_mesh' not in printer %}
      _verbose msg='[bed_mesh] is not enabled. Skipping load profile'
      SET_GCODE_VARIABLE MACRO=_start_print VARIABLE=bed_mesh VALUE=False
  {% else %}
    BED_MESH_PROFILE LOAD={mesh_profile}
    SET_GCODE_VARIABLE MACRO=_start_print VARIABLE=bed_mesh VALUE=True
    {% if bed_mesh.profile_name is none %}
      _verbose msg='Mesh profile "{mesh_profile}" does not seem to be calibrated and will not effect this print. Please calibrate the mesh to apply it for next time'     
    {% else %}
      _verbose msg='Loaded default mesh'
    {% endif %}
  {% endif %}
  

  _verbose MSG='Move to wipe point ({wipe_point_x}, {wipe_point_y}, {wipe_point_initial_z})'
  G1 X{wipe_point_x} Y{wipe_point_y} Z{wipe_point_initial_z} F10000  # Move the nozzle to assigned wipe point

  # Wait for bed and nozzle to reach temperature  
  _verbose msg='Heating up. Nozzle: {extruder_temp} ,Bed: {bed_temp}'      
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp-1} MAXIMUM={bed_temp+2}
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={extruder_temp-2} MAXIMUM={extruder_temp+5}
  



  _prime_line
  _start_tones 
  SFS_ENABLE
  RESPOND type=command MSG='Startup complete. Begin print'


[gcode_macro _prime_line]
gcode: 
  {% set mc = printer["gcode_macro _macro_globals"] %}
  {% set wipe_point_x = mc.wipe_point_x|default(2)|float %}
  {% set wipe_e_length = mc.wipe_e_length|default(25)|float %}  
  {% set wipe_length = mc.wipe_length|default(40)|float %}  

  {% set x_max = printer.toolhead.axis_maximum.x|float %}
  {% set y_max = printer.toolhead.axis_maximum.y|float %}
  _verbose msg="priming" 
  G92 E0 ;Reset Extruder

  G0 Z0.15 # drop to bed  RESPOND type=command MSG='Wipe to {wipe_point_x+40}' 
  G1 X{wipe_point_x+wipe_length} E{wipe_e_length} F500 # Extrude 25mm of filament in a 4cm line

  G92 E0 ;Reset Extruder
  G1 Z2.0 F5000.0 ;Move Z Axis up
  # move to prime position 
  G1 Y{y_max} Z2.0 F5000.0 ;Move to start position
  G1 X{x_max-100} Y{y_max} Z0.28 F5000.0 ;Move to start position
  G1 X{x_max} Y{y_max} Z0.28 F1500.0 E15 ;Draw the first line
  G1 X{x_max} Y{y_max-100} Z0.28 F1500.0 E30 ;Draw the second line
  G92 E0 ;Reset Extruder
  G1 Z2.0 F3000 ;Move Z Axis up

[gcode_macro _end_print]
gcode:
  {% set client = printer["gcode_macro _CLIENT_VARIABLE"] %}
  {% set bed_mesh = printer["gcode_macro _start_print"].bed_mesh | default(False) %} 
  {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
  {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}

  SFS_DISABLE
  #Fix-up extruder
  G91                                            
  G1 E-2 F2700                                    
  G1 E-1.5 Z0.2 F2400                        
  G1 X0 F6000                                                                  
  
  TURN_OFF_HEATERS # Turn off bed, extruder, and fan
    
  #Present print
  _park_head
  
  M84 # Disable steppers
  {% if bed_mesh %}
    BED_MESH_CLEAR
 {% endif %}
 _end_tones
